* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.pad-wrapper {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.pad {
  border: none;
  outline: none;
  box-shadow: 3px solid black;
  cursor: pointer;
  background-color: #ccc;
  padding: 10px;
}

